@model IEnumerable<GreenMountain.Models.Trail>

@{
    ViewData["Title"] = "Trails";
}

<h2>Index.cshtml</h2>

<p>Hello from our Trail View!</p>

@* I don't think we want to make a full table in the MVC lesson, but I already had this example for displaying multiple movies from the tutorial :) *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
             @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
    </tr>
}